torch
torchvision
Pillow
numpy
tqdm
ruamel.yaml==0.17.21
imageio
opensimplex
gym==0.23.1
pandas
matplotlib
wandb
scikit-learn
opencv-python
h5py
pycocotools
imageio-ffmpeg==0.4.9
procgen
pfrl
tensorboard
einops
moviepy
protobuf==3.20
openai
transformers
sentence-transformers
tenacity
bitsandbytes
accelerate
peft==0.4.0
trl==0.4.7